
* {
	margin: 0;
	padding: 0;
}

body {
	background: #337FC6 url("bg.gif") top center repeat-y;
	font: normal 8pt/13pt verdana, arial,sans-serif;
	color: #808080;
	
}

a, a:visited {
	text-decoration: underline;
	color: #76A7DC;
	
}

a:hover {
	color: #808080;
}

#header {
	width: 555px;
	height: 54px;
	background: #000 url("header.gif") no-repeat;
	padding-top: 36px;
	padding-left: 25px;
	font-size: 13pt;
	color: #FFF;
}

#header a, #header a:visited{
	color: #FFF;
	text-decoration: none;
}
#header a:hover {
	color: #808080;
}

#header h2{
	padding-top: 5px;
	font-size: 9pt;
	color: #C2D9EF;	
}

#container {
	width: 580px;
	background: #fff url("sidebar.gif") repeat-y right;
	border: solid 10px #fff;
	margin: 0 auto;
	text-align: left;
}

#horizontal {
	width: 575px;
	height: 32px;
	background: url(horizontal.gif);
	font-weight: bold;
	font-size: 8pt;
	padding-top: 3px;
	padding-left: 5px;
	
}

#horizontal a, #horizontal a:visited {
	color: #DCEAF7;
	text-decoration: none;
	margin-right: 55px;
}

#horizontal a:hover {
	color: #FFF;
	text-decoration: none;
}

#right-column {
	color: #808080;
	width: 134px;
	
	background: url(menutop.gif) no-repeat top left;
	float: right;
	padding: 10px;
	border-right: 4px solid #FFF;
}

#content {
	float: left;
	width: 410px;
	margin: 10px 0 0 4px;
}

#content h2{
	font-size: 12pt;
	font-weight: bold;
	color: #76A7DC;
	margin-bottom: 5px;
	padding-left: 14px;
	background: url(h2bg.gif) top left repeat-y;
	
}
#content a{
	text-decoration:none;
}

.black {
	color: #000;
}

p {
margin-bottom: 20px;
padding-left: 14px;
background: url(articlebg.gif) top left repeat-y;
}
.form {
margin-bottom: 0px;
padding-left: 0px;
background: none;
font-weight: bold;
}

input.text {
	width: 70px;	
	border: 1px solid #ccc;
}

input.button {
	color: #808080;
	padding-left: 0px;
	font-size: 8pt;	
	border: none;
	background: none;
	}

#searchbox {
	background: url(searchbox.gif) no-repeat;
	padding: 5px;
	height: 30px;
}

#footer {
	color: #ccc;
	text-align:left;
	background: #F9F9F9;
	clear: both;
	width: 402px;
	margin-left: 4px;
	height: 33px;
	padding: 4px;
	border: 1px solid #E4E4E4;
}
#footer2 {
	color: #ccc;
	text-align:right;
	background: #F9F9F9;
	clear: both;
	width: 402px;
	margin-left: 4px;
	height: 33px;
	padding: 4px;
	border: 1px solid #E4E4E4;
}

#footer a, #footer a:visited{
	color: #ccc;
}


#footer a:hover {
	color: #808080;
}

nav ul ul {
	display: none;
	color: #fff;

}

	nav ul li:hover > ul {
		display: block;
		color: #fff;
	}

nav ul {

	padding: 0px 20px;
	list-style: none;
	position: relative;
	display: inline-table;
	color: #fff;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
nav ul li {
	float: left;
	color: #fff;
}
	nav ul li:hover {
		color: #fff;
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding: 5px 10px;
		color: #fff; text-decoration: none;
	}
nav ul ul {
	border-radius: 0px; padding: 0;
	position: absolute; top: 100%;

}
	nav ul ul li {

		float: none; 
		background: rgba(0,0,255,0.30);
		position: relative;
	}
		nav ul ul li a {
			padding: 5px 10px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				color: #000;
				background:  rgba(0,0,255,0.15);
			}

